/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root {
    --main-color: #717171;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;
    --presentation-title-color: #000;


    /* Box Shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
    background-color: rgb(40 40 40);
}

.logo img{
    width: 60px;
}
.navbar{
    display: flex;
}
.navbar a{
    justify-content: space-between;
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}

.navbar-name{
    align-items: left;
    padding: 4px;
    padding-right: 40vw;
    color: var(--bg-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

section {
    padding: 50px 100px;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.logo img {
    width: 60px;
}

#menu-icon {
    color: var(--bg-color);
    font-size: 100001;
    cursor: pointer;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    background: url(/img/juice-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.home-text h1 {
    font-size: 3.4rem;
    color: var(--presentation-title-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-text p {
    font-size: 1.2rem;
    color: var(--presentation-title-color);
    margin: 0.5rem 0 1.4rem;
}

.slider-container {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: inline-block;
    text-align: center;
    gap: 1.5rem;
}

.proyect-container {
    display: flex;
    justify-content: center;
}

.card {
    /* Add shadows to create the "card" effect */
    display: block;
    width: 40vw;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
    box-sizing: border-box !important;
    height: 20rem;
    object-fit: scale-down;
}

.card h2{
    font-size: 1.6rem;
    margin-top: 4vh;
}

.card p{
    margin: 2vh 0 4vh 0;
    font-size: 1rem;
    color: var(--presentation-title-color);
}

.space-bettwen{
    padding-top: 50px;
}

.heading {
    max-height: 30vh;
    padding-bottom: 5vh;
}

.heading h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    box-sizing: content-box;
}

.us-container img{
    display: inline-block;
    width: auto;
    max-height: 57vh;
}

.board-container{
    text-align: center;
}

.board-container img{
    display: inline-block;
    width: auto;
    max-height: 57vh;
}

.kl25-container{
    text-align: center;
}

.kl25-container img{
    display: inline-block;
    width: auto;
    max-height: 57vh;
}

@media(max-width:1058px) {
    header {
        padding: 16px 60px;
    }

    section {
        padding: 50px 60px;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }
}

@media(max-width:991px) {
    header {
        padding: 16px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .home-text h1 {
        font-size: 2rem;
    }
}

@media(max-width:768px) {
    .header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
    }

    .about {
        align-items: center;
    }
}

@media(max-width:360px) {
    header {
        padding: 11px 4%;
    }

    .logo img {
        width: 45px;
    }

    .home-text {
        padding-top: 15px;
    }

    .home-text h1 {
        font-size: 1.4rem;
    }

    .home-text p {
        font-size: 0.8rem;
        font-weight: 300;
    }

    .about-img {
        order: 2;
    }

    .about-text {
        text-align: center;
    }

    .about-text h2 {
        font-size: 1.2rem;
    }

    .heading h2 {
        font-size: 1.2rem;
    }
}